{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-center">{{ algorithm.name }}: Практика</h1>
        <br>
        {% for site in sites %}
            <h2>{{ site.name }}</h2>
            {% for problem in problems %}
                {% if problem.site.id == site.id %}
                    {% if problem in user_problems %}
                        <form method="post" action="{% url 'delete' %}">
                            {% csrf_token %}
                            <input type="hidden" value="{{ problem }}" name="problem">
                            <input type="hidden" value="{{ id }}" name="id">
                            <input type="hidden" value="{{ page }}" name="page">
                        <p><button class="solved" type="submit">Решено</button><a href="{{ problem.url }}" target="_blank" class="small_link">{{ problem.name }}</a>
                        </p>
                        </form>
                    {% else %}
                        <form method="post" action="{% url 'add' %}">
                            {% csrf_token %}
                            <input type="hidden" value="{{ problem }}" name="problem">
                            <input type="hidden" value="{{ id }}" name="id">
                            <input type="hidden" value="{{ page }}" name="page">
                        <p><button class="not_solved" type="submit">Не решено</button><a href="{{ problem.url }}" target="_blank" class="small_link">{{ problem.name }}</a>
                        </p>
                        </form>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <br>
        {% endfor %}
    </div>
{% endblock content %}